---
import Tag from "./Tag.astro";

interface Props {
    year: string;
    project: string;
    tags: string[];
    href: string;
}

const { year, project, tags, href } = Astro.props;
---

<tr class="flex w-full h-8">
    <td class="text-left mr-6"> {year}</td>
    <td class="text-left mr-6 w-64"> {project}</td>
    <td class="text-left mr-6 w-80 flex">
        {tags.map((tag) => <Tag name={tag} />)}
    </td>
    <td class="text-left"> {href}</td>
</tr>
