<section
  id="about"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24 z-10"
  aria-label="About me"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2
      class="text-sm font-bold uppercase tracking-widest text-color-secondary lg:sr-only"
    >
      About
    </h2>
  </div><div>
    
    <p class="mb-4">

Driven by a passion for software <strong class="text-color-secondary"> quality</strong>, I foster a culture of excellence at every stage of the project, from design to production. My hybrid background (graphic designer, frontend developer, QA) gives me a holistic and cross-functional vision, naturally connecting UX/UI, technical, and product challenges.
<br /><br />I work closely with Product Owners, UX/UI designers, and development teams to anticipate risks, identify improvement opportunities, and ensure an optimal user experience. My proximity to both users and the product allows me to challenge functional and technical choices, always with a pragmatic and results-oriented mindset.
As a <strong class="text-color-secondary">QA engineer</strong>, I implement robust and scalable automated testing strategies. I actively monitor industry trends to bring innovative, context-appropriate solutions.
<br /><br />
<strong class="text-color-secondary">What I bring to the team:</strong>
<br /><br />
A comprehensive approach to quality, integrated at every stage of the product lifecycle
Strong connections between design, technical, and business aspects for reliable, consistent deliverables
Automated testing processes that secure deployments and accelerate delivery
A collaborative spirit, active listening, and continuous sharing of best practices

<br /><br />
<strong class="text-color-secondary">My mission:</strong>
<br /><br />
Empower every team to deliver robust, high-performing, and user-centric products, driving continuous improvement.

#QA #TestAutomation #Performance #Sécurité #Produit #UI #UX
#JavaScript #TypeScript #Playwright #Postman

    </p>




  </div>
</section>
