<section
    id="about"
    class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24 z-10"
    aria-label="About me"
>
    <div
        class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
    >
        <h2
            class="text-sm font-bold uppercase tracking-widest text-color-secondary lg:sr-only"
        >
            About
        </h2>
    </div><div>
        <p class="mb-4">
            Back in 2018 after a career in <strong class="text-color-secondary">
                graphic design
            </strong> I decided to give a shot to coding and fell into a rabbit hole
            that I never came back from... <br /><br />I mainly focus on
            building efficient and satisfying <strong
                class="text-color-secondary">user interfaces</strong
            >
            for humans. I am at my best when I find myself at the intersection between
            <strong class="text-color-secondary">design and engineering.</strong
            > That's the sweet spot where I can leverage my skills and help delivering
            the
            <strong class="text-color-secondary">best UX.</strong><br /><br
            />When I am not in a front of a screen you can find me cooking or
            digging for niche music.
        </p>
    </div>
</section>
