---
import CardProject from "../shared/CardProject.astro";
---

<section
    id="projects"
    class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
    aria-label="Selected projects"
>
    <div
        class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
    >
        <h2
            class="text-sm font-bold uppercase tracking-widest text-highlighted lg:sr-only"
        >
            Projects
        </h2>
    </div><div>
        <ul class="group/list">
            <li class="mb-12">
                <CardProject
                    title="P4 Collective webapp"
                    description="Theater collective website"
                    ariaLabel="Build a Spotify Connected App (opens in a new tab)"
                    href="https://nextjs-collectif-p4.vercel.app/"
                    img="/p4_thumbnail.webp"
                />
            </li>
            <li class="mb-12">
                <CardProject
                    title="CryptoBubbles clone"
                    description="A clone of the famous crypto market forecast built with modern React tools"
                    ariaLabel="Build a cryptobubbles clone (opens in a new tab)"
                    href="https://github.com/emmanuelplougoulm/cryptobubbles-clone"
                    img="/bubbles_thumbnail.webp"
                />
            </li>
        </ul>
    </div>
</section>
