---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Content from "../components/Content.astro";
---

<Layout>
	<div
		class="lg:flex lg:justify-between lg:gap-4 border-solid border-2 border-red-500"
	>
		<Header />
		<Content />
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	header {
		color: white;
		padding-left: 0;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
