---
import TS from "../../assets/technos/typescript.astro";
// import JS from "../../assets/technos/javascript.astro";
// import Nuxt from "../../assets/technos/nuxt.astro";
// import Next from "../../assets/technos/next.astro";
import React from "../../assets/technos/react.astro";
import Tailwind from "../../assets/technos/tailwind.astro";
import Vue from "../../assets/technos/vue.astro";
---

<ul class="ml-1 mt-8 flex items-center" aria-label="technologies used">
    <li class="mr-5 text-xs shrink-0">
        <TS />
    </li>

    <li class="mr-5 text-xs shrink-0">
        <Vue />
    </li>
    <li class="mr-5 text-xs shrink-0">
        <React />
    </li>
    <!-- <li class="mr-5 text-xs shrink-0">
        <Nuxt />
    </li>
    <li class="mr-5 text-xs shrink-0">
        <Next />
    </li> -->
    <li class="mr-5 text-xs shrink-0">
        <Tailwind />
    </li>
</ul>
