---
import About from "../components/sections/About.astro";
import Experience from "../components/sections/Experience.astro";
// import Skills from "../components/sections/Skills.astro";
import Project from "../components/sections/Project.astro";
---

<main id="content" class="pt-24 lg:w-1/2 lg:py-24">
    <About />
    <Experience />
    <!-- <Skills /> -->
    <Project />
</main>
