<a
    class="block hover:text-color-secondary"
    href="https://vuejs.org/"
    target="_blank"
    rel="noreferrer noopener"
    aria-label="Vue.js (opens in a new tab)"
    title="Vue.js"
    ><span class="sr-only">Vue.js</span><svg
        viewBox="0 0 128 128"
        width="24"
        height="24"
        ><path
            fill="currentColor"
            d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z"
        ></path><path
            fill="#35495e"
            d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z"></path></svg
    ></a
>
