---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="bg-color-background">
		<div
			class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
		>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		color: #8892b0;
		scroll-behavior: smooth;
	}
</style>
