---
const backgroundColor = "#1E1D20";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<div
			class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
		>
			<slot />
		</div>
	</body>
</html>
<style is:global define:vars={{ backgroundColor }}>
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--backgroundColor);
	}
</style>
